extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .container-lg
                .section__gender
                    h1  Пожертвование

            //---FOOTER------///
            include ../includes/footer