extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .section__distance__learning__content
                .container-md
                    .row.section__distance__learning__content__row
                        .col-lg-4
                            .section__distance__learning__content__first
                                h5 Наша методика
                                a(href="our-items.html") Подробнее
                        .col-lg-4
                            .section__distance__learning__content__first
                                h5 Наши курсы
                                a(href="our-items.html") Подробнее
                        .col-lg-4
                            .section__distance__learning__content__first
                                h5 Наши курсы
                                a(href="our-items.html") Подробнее
        include ../includes/footer