extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .section__events__content
                .container 
                    .row
                        .col-md
                            .section__events__content__card
                                img(src="https://avatars.mds.yandex.net/i?id=bc19dafda2f43065dad0324c2e3d4e72-4935694-images-thumbs&n=13", alt="")
                                .section__events__content__card__title
                                    h4 
                                        a(href="news-details.html") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        .col-md
                            .section__events__content__card
                                img(src="https://avatars.mds.yandex.net/i?id=bc19dafda2f43065dad0324c2e3d4e72-4935694-images-thumbs&n=13", alt="")
                                .section__events__content__card__title
                                    h4 
                                        a(href="news-details.html") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .row
                        .col-md
                            .section__events__content__card
                                img(src="https://avatars.mds.yandex.net/i?id=bc19dafda2f43065dad0324c2e3d4e72-4935694-images-thumbs&n=13", alt="")
                                .section__events__content__card__title
                                    h4 
                                        a(href="news-details.html") Lorem ipsum dolor sit amet consectetur adipisicing elit.it amet consectetur adipisicing elit.
                        .col-md
                            .section__events__content__card
                                img(src="https://avatars.mds.yandex.net/i?id=bc19dafda2f43065dad0324c2e3d4e72-4935694-images-thumbs&n=13", alt="")
                                .section__events__content__card__title
                                    h4 
                                        a(href="news-details.html") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .row
                        .col-md
                            .section__events__content__card
                                img(src="https://avatars.mds.yandex.net/i?id=bc19dafda2f43065dad0324c2e3d4e72-4935694-images-thumbs&n=13", alt="")
                                .section__events__content__card__title
                                    h4 
                                        a(href="news-details.html") Lorem ipsum dolor sit amet consectetur adipisicing elit.it amet consectetur adipisicing elit.
                        .col-md
                            .section__events__content__card
                                img(src="https://avatars.mds.yandex.net/i?id=bc19dafda2f43065dad0324c2e3d4e72-4935694-images-thumbs&n=13", alt="")
                                .section__events__content__card__title
                                    h4 
                                        a(href="news-details.html") Lorem ipsum dolor sit amet consectetur adipisicing elit.
        include ../includes/footer
                    