extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .container-lg.pt-5
                .section__news__card.mb-5
                    h3 КОНКУРС "ПОЧИТАНИЕ РОДИТЕЛЕЙ"
                    .section__news__card__img 
                        img(src="../assets/newsImage.png", alt="#")
                    p Портал дистанционного обучения imedrese.ru (Интернет-медресе) объявляет первый Всероссийский видео-конкурс чтения проповеди (наставление для верующих) на тему «Почитание родителей».Достойное отношение к родителям – это повеление Всевышнего Аллаха, которое должен исполнять каждый благочестивый верующий человек. Сохранение и защита семейных, родственных уз, укрепление института семьи – одна из важнейших задач на сегодня для нашего общества. Давайте же сделаем все, что от нас зависит, чтобы воспитать в детях трепетное и бережное отношение к старшему поколению! Ведь дети – это наше будущее. Именно они передадут высокие исламские ценности нашим потомкам сквозь века! Давайте вместе вдохновим нашу молодежь поразмышлять о том, как почитать своих родителей. Пусть они расскажут, напомнят всем нам об этой исключительно важной теме.К участию приглашаются только мальчики от 11 до 15 лет. Победитель будет определен с учетом экспертных мнений. Победителей ждут ценные призы. Оценивается красноречие. 10 лучших участников получат памятные сертификаты об участии в конкурсе.
            include ../includes/footer
