extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .container-md.p9
                .section__teachers__list__cards
                    .section__teachers__list__card
                        .section__teachers__list__card__img
                            img(src="https://avatars.mds.yandex.net/i?id=6af32d91f4f888d2857c3dca4f28b85b-5147142-images-thumbs&n=13", alt="#")
                        .section__teachers__list__card__title.mt-5
                            h4 Халима Карпова
                            h6 В данное время  является преподавателем религиозных дисциплин: «Исламское вероучение», «История пророков», «Корановедение» в учебном отделе интернет-портала «imedrese» 
                            span(type='text' data-bs-toggle='modal' data-bs-target='#exampleModalCenter') Подробнее
                            #exampleModalCenter.modal.fade(tabindex='-1' aria-labelledby='exampleModalCenterLabel' aria-hidden='true')
                                .modal-dialog.modal-dialog-centered
                                    .modal-cont
                                        .modal-header
                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                        .modal-body
                                            h4 Халима Карпова
                                            h6 Предподователь по истории
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore sunt architecto nulla, minus maiores reprehenderit non. Ullam eum amet molestias corrupti cumque accusamus mollitia, iste explicabo ab. Recusandae quidem iure incidunt ullam? Provident magni velit unde suscipit non neque sapiente magnam laudantium expedita vero pariatur, sint eum recusandae beatae.
                    .section__teachers__list__card
                        .section__teachers__list__card__img
                            img(src="https://avatars.mds.yandex.net/i?id=e9392c6c98e501a2539b607029e74496-5670257-images-thumbs&n=13", alt="#")
                        .section__teachers__list__card__title.mt-5
                            h4 Ринат Рафаилович
                            h6 Является видным и авторитетным проповедником ислама, ведёт активную просветительскую деятельность. Автор и руководитель проектов, пользующихся большим спросом у  мусульман
                            span(type='text' data-bs-toggle='modal' data-bs-target='#exampleModalCenter') Подробнее
                            #exampleModalCenter.modal.fade(tabindex='-1' aria-labelledby='exampleModalCenterLabel' aria-hidden='true')
                                .modal-dialog.modal-dialog-centered
                                    .modal-cont
                                        .modal-header
                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                        .modal-body
                                            h4 Ринат Рафаилович
                                            h6 Предподователь по истории
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore sunt architecto nulla, minus maiores reprehenderit non. Ullam eum amet molestias corrupti cumque accusamus mollitia, iste explicabo ab. Recusandae quidem iure incidunt ullam? Provident magni velit unde suscipit non neque sapiente magnam laudantium expedita vero pariatur, sint eum recusandae beatae.
                    .section__teachers__list__card
                        .section__teachers__list__card__img
                            img(src="https://avatars.mds.yandex.net/i?id=e9392c6c98e501a2539b607029e74496-5670257-images-thumbs&n=13", alt="#")
                        .section__teachers__list__card__title.mt-5
                            h4 Ринат Рафаилович
                            h6 Является видным и авторитетным проповедником ислама, ведёт активную просветительскую деятельность. Автор и руководитель проектов, пользующихся большим спросом у  мусульман
                            span(type='text' data-bs-toggle='modal' data-bs-target='#exampleModalCenter') Подробнее
                            #exampleModalCenter.modal.fade(tabindex='-1' aria-labelledby='exampleModalCenterLabel' aria-hidden='true')
                                .modal-dialog.modal-dialog-centered
                                    .modal-cont
                                        .modal-header
                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                        .modal-body
                                            h4 Ринат Рафаилович
                                            h6 Предподователь по истории
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore sunt architecto nulla, minus maiores reprehenderit non. Ullam eum amet molestias corrupti cumque accusamus mollitia, iste explicabo ab. Recusandae quidem iure incidunt ullam? Provident magni velit unde suscipit non neque sapiente magnam laudantium expedita vero pariatur, sint eum recusandae beatae.
                
                .section__teachers__list__cards
                    .section__teachers__list__card
                        .section__teachers__list__card__img
                            img(src="https://avatars.mds.yandex.net/i?id=6af32d91f4f888d2857c3dca4f28b85b-5147142-images-thumbs&n=13", alt="#")
                        .section__teachers__list__card__title.mt-5
                            h4 Халима Карпова
                            h6 В данное время  является преподавателем религиозных дисциплин: «Исламское вероучение», «История пророков», «Корановедение» в учебном отделе интернет-портала «imedrese» 
                            span(type='text' data-bs-toggle='modal' data-bs-target='#exampleModalCenter') Подробнее
                            #exampleModalCenter.modal.fade(tabindex='-1' aria-labelledby='exampleModalCenterLabel' aria-hidden='true')
                                .modal-dialog.modal-dialog-centered
                                    .modal-cont
                                        .modal-header
                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                        .modal-body
                                            h4 Халима Карпова
                                            h6 Предподователь по истории
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore sunt architecto nulla, minus maiores reprehenderit non. Ullam eum amet molestias corrupti cumque accusamus mollitia, iste explicabo ab. Recusandae quidem iure incidunt ullam? Provident magni velit unde suscipit non neque sapiente magnam laudantium expedita vero pariatur, sint eum recusandae beatae.
                    .section__teachers__list__card
                        .section__teachers__list__card__img
                            img(src="https://avatars.mds.yandex.net/i?id=e9392c6c98e501a2539b607029e74496-5670257-images-thumbs&n=13", alt="#")
                        .section__teachers__list__card__title.mt-5
                            h4 Ринат Рафаилович
                            h6 Является видным и авторитетным проповедником ислама, ведёт активную просветительскую деятельность. Автор и руководитель проектов, пользующихся большим спросом у  мусульман
                            span(type='text' data-bs-toggle='modal' data-bs-target='#exampleModalCenter') Подробнее
                            #exampleModalCenter.modal.fade(tabindex='-1' aria-labelledby='exampleModalCenterLabel' aria-hidden='true')
                                .modal-dialog.modal-dialog-centered
                                    .modal-cont
                                        .modal-header
                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                        .modal-body
                                            h4 Ринат Рафаилович
                                            h6 Предподователь по истории
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore sunt architecto nulla, minus maiores reprehenderit non. Ullam eum amet molestias corrupti cumque accusamus mollitia, iste explicabo ab. Recusandae quidem iure incidunt ullam? Provident magni velit unde suscipit non neque sapiente magnam laudantium expedita vero pariatur, sint eum recusandae beatae.
                    .section__teachers__list__card
                        .section__teachers__list__card__img
                            img(src="https://avatars.mds.yandex.net/i?id=e9392c6c98e501a2539b607029e74496-5670257-images-thumbs&n=13", alt="#")
                        .section__teachers__list__card__title.mt-5
                            h4 Ринат Рафаилович
                            h6 Является видным и авторитетным проповедником ислама, ведёт активную просветительскую деятельность. Автор и руководитель проектов, пользующихся большим спросом у  мусульман
                            span(type='text' data-bs-toggle='modal' data-bs-target='#exampleModalCenter') Подробнее
                            #exampleModalCenter.modal.fade(tabindex='-1' aria-labelledby='exampleModalCenterLabel' aria-hidden='true')
                                .modal-dialog.modal-dialog-centered
                                    .modal-cont
                                        .modal-header
                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                        .modal-body
                                            h4 Ринат Рафаилович
                                            h6 Предподователь по истории
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore sunt architecto nulla, minus maiores reprehenderit non. Ullam eum amet molestias corrupti cumque accusamus mollitia, iste explicabo ab. Recusandae quidem iure incidunt ullam? Provident magni velit unde suscipit non neque sapiente magnam laudantium expedita vero pariatur, sint eum recusandae beatae.
                
                                            
                                            

        include ../includes/footer