extends ../base


block content 
    .wrapper 
        include ../includes/user-top-header
        section.section__banner 
            include ../includes/user-header
            .container.item-list
                .row 
                    .col-md-4 
                        .section__user-items__card
                            .section__user-items__card__text
                                h4 Английский
                                a(href="item-details.html")  
                                    p Подробнее
                    .col-md-4 
                        .section__user-items__card
                            .section__user-items__card__text
                                h4 Физика
                                a(href="item-details.html")  
                                    p Подробнее
                    .col-md-4 
                        .section__user-items__card
                            .section__user-items__card__text
                                h4 Арабский
                                a(href="item-details.html")  
                                    p Подробнее
                .row 
                    .col-md-4 
                        .section__user-items__card
                            .section__user-items__card__text
                                h4 Английский
                                a(href="item-details.html")  
                                    p Подробнее
                    .col-md-4 
                        .section__user-items__card
                            .section__user-items__card__text
                                h4 Английский
                                a(href="item-details.html")  
                                    p Подробнее
                    .col-md-4 
                        .section__user-items__card
                            .section__user-items__card__text
                                h4 Английский
                                a(href="item-details.html")  
                                    p Подробнее
        include ../includes/footer
                    
