footer.footer
  .container-lg
    .footer__info
      h5.footer__info__title МИР ВАМ И БЛАГОСЛОВЕНИЕ ВСЕВЫШНЕГО!
      .footer__info__social
        a.social-site(href='#')
          i.fa-brands.fa-instagram
        a.social-site(href='#')
          i.fa-brands.fa-twitter
        a.social-site(href='#')
          i.fa-brands.fa-vk
        a.social-site(href='#')
          i.fa-brands.fa-telegram
      .footer__info__bottom__text
        p © 2021 - 2022 Исламский институт  имени “Расула-Акрама”