extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .section__our-items__list.container-lg
                .row 
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Физика
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Адаб
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Таджвид
                .row.mt-4
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Акыда
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Сира
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Математика
                .row.mt-4
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Арабский
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 История
                    .col 
                        .section__our-items__list__card
                            .section__our-items__list__card__title
                                h5 Химия
            include ../includes/footer