extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .section__study__info.container-lg
                .section__study__info__first
                    h4 Аттестат об окончании института имени «Расула-Акрама»
                    p Наш институт «Расул-Акрама» выдает каждому выпускнику аттестат об окончании школы! Выпускники, окончившие школу с отличием, получают «золотой» аттестат. Остальные выпускники получают «зелёный» (стандартный) аттестат. Отправка документов производится по почте. Проверить статус можно прямо на нашем сайте. Учитесь и получайте знания!
                .section__study__info__second
                    h4 Методикка обучение
                    p Способы преподавания, с помощью которых обучающимся прививаются знания, умения, навыки у каждого специалиста индивидуальны. Мы доверяем большому практическому опыту и креативу наших преподавателей. Уникальность методик заключается в личном подходе каждого преподавателя к его предмету.
                .section__study__info__third
                    h4 Что нужно для обучения?
                    p Для обучения вам нужен только компьютер и интернет! Программа рассчитана на то, что бы вы ежедневно тратили всего 30-40 минут своего времени, либо уделяли на учебу 2-3 часа только по выходным. В таком темпе вы, с дозволения Аллаха, освоите программу за один год.
                .section__study__info__forth
                    h4 Дистанционное обучение
                    p Для обучения вам нужен только компьютер и интернет! Программа рассчитана на то, что бы вы ежедневно тратили всего 30-40 минут своего времени, либо уделяли на учебу 2-3 часа только по выходным. В таком темпе вы, с дозволения Аллаха, освоите программу за один год.
                    .more
                        a(href="distance-learning.html") Подробнее 
                            i.fa-solid.fa-arrow-right
        include ../includes/footer
