extends ../base


block content 
    .wrapper
        include ../includes/top-header
        section.section__banner
            include ../includes/header
            .container-lg
                .section__gender
                    .card.text-center.mt-5
                        .card-body.bodyCard
                        h5.bodyCard-title Lorem, ipsum dolor.
                        p.bodyCard-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem temporibus a ullam? Delectus blanditiis, eos nulla maxime similique nam laborum ab tempora iure, cum necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores a aut doloremque commodi culpa modi hic recusandae ut velit neque cumque vero esse expedita porro iure saepe, minima eveniet explicabo rem consequatur quos assumenda ad cupiditate! Est suscipit quae corporis!
                        h5.bodyCard-number.m-5 9878 8976 0967 5678

            //---FOOTER------///
            include ../includes/footer